psl-dns
nextcord
python-dotenv
onami
aiohttp
nextcord-ext-help-commands
nextcord-ext-menus
python-whois
forex-python
setuptools
aiohttp
distlib
filelock
frozenlist
identify
idna
multidict
nodeenv
platformdirs
pre-commit
typing-extensions
virtualenv
audioop-lts
pymongo
motor
flask